# ignore all logs
*.log

# Ignore all zips
*.zip


chromium/
catfish/
code-oss/
Code - OSS/
composer/
Electron/
htop/
kdeconnect/
Kvantum/
libreoffice/
Mousepad/
neofetch/
nvim/
warpinator/
yay/
Thunar/
viewnior/
transmission/
autostart/
dconf/
falkon/
fontconfig/
fontforge/
gtk-2.0/
inkscape/
manjaro/
nitrogen/
obs-studio/
obsidian/
onlyoffice/
pamac/
pulse/
qpdfview/
qt5ct/
qt6ct/
scripts/
sticky/
vlc/
volumeicon/
xfce4/
xournalpp/
pulseaudio-ctl/

# Keeping settings.json out of gitignore
VSCodium/*
!VSCodium/User
VSCodium/User/*
!VSCodium/User/settings.json
!VSCodium/User/keybindings.json
!VSCodium/User/snippets

# qutebrowser
qutebrowser/*
!qutebrowser/config.py

# Steam
cef_user_data/

# Files
QtProject.conf
manjaro-hello.json
mimeapps.list
pavucontrol.ini
user-dirs.dirs
user-dirs.locale

